<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, 
          initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="icon" href="favicon.ico" />
    {{ partial "gallerydeluxe/head.html" . }}
    {{ partial "head.html" . }}
     <script>
      function displayCredit() {
        document.querySelector("#credit").style.display="block"
      }

      function creditClick() {
        displayCredit()
      }

      function creditClose() {
        document.querySelector("#credit").style.display='none'
      }
    </script>
  </head>

  <a class="logo" onclick="creditClick()">
    CREDITS
  </a>

  {{/* 'images' is a path to a leaf bundle with a index.md file and lots of JPG images. */}}
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "sourcePath" "images") }}
  {{ $params := site.Params.gallerydeluxe }}
  {{/* We currently only support 1 gallery per page, which is create4 by an element with id 'gallerydeluxe',
    and a valid data url.
  */}}
  <body id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="credit" onclick="creditClose()">
      <div id="credit-content-wrapper">
        <div id="credit-content">
          <h3>Édition 2022 du festival Gongfucha</h3>
          <p>Les photos que nous vous présentons ont été réalisées par <a href="http://www.sarahrobine.com/">Sarah Robine</a></p>
          <p>Elles sont proposées sous <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr">licence Creative Commons BY-NC-ND 4.0</a></p>
          <p>Vous pouvez les utiliser en mentionnant Sarah Robine comme autrice</p>
          <p>Si vous souhaitez les modifier ou les utiliser pour un usage commerciale, nous vous demandons de contacter <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#115;&#097;&#114;&#097;&#104;&#114;&#111;&#098;&#105;&#110;&#101;&#046;&#099;&#111;&#109;">contact [at] sarahrobine.com</a></p>
          <p>Merci pour votre attention, vous pouvez maintenant cliquer sur la croix en haut à droite pour démarrer votre visite</p>
        </div>
      </div>
      <span id="credit-close" onclick="creditClose()" class="gd-modal-close">&times;</span>
    </div>
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
  </body>
</html>
